<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/easy-autocomplete.min.css">
<%= simple_form_for(@trip) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  
  <% if @trip.errors.present? %>
      <ul class="notification is-danger">
        <p class="has-text-weight-bold">Errors: </p>
        <% @trip.errors.messages.each do |e| %>
          <li><%= e.last.to_sentence %></li>
        <% end %>
      </ul>
  <% end %>

  <div class="form-inputs">
    <%= f.input :departure_station, required: true %>
    <%= f.input :arrival_station, required: true %>
    <%= f.input :departure_date, required: true %>
    <%= f.input :from_time, as: :time, required: true %>
    <%= f.input :to_time, as: :time, required: true %>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'is-primary' %>
  </div>
<% end %>