<p id="notice"><%= notice %></p>

<section class="hero is-link">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <h1 class="title is-size-1">Your Trip</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<br>

<p>
  <strong>User:</strong>
  <%= @trip.user_id %>
</p>

<p>
  <strong>Departure station:</strong>
  <%= @trip.departure_station %>
</p>

<p>
  <strong>Arrival station:</strong>
  <%= @trip.arrival_station %>
</p>

<p>
  <strong>From date:</strong>
  <%= @trip.from_date %>
</p>

<p>
  <strong>To date:</strong>
  <%= @trip.to_date %>
</p>

<p>
  <strong>Searching:</strong>
  <%= @trip.searching %>
</p>

<%= link_to 'Edit', edit_trip_path(@trip), class: "button is-primary is-small" %> 
<%= link_to 'Back', trips_path, class: "button is-small" %>
